.content {
  display: flex;
  justify-content: center; /* Center the content */
  align-items: flex-start; /* Align items to the start of the flex container */
}
.container {
  display: flex;
  justify-content: space-between;
}

.text-container {
  flex-basis: 50%; /* Adjust this value based on your design requirements */
  padding-left: 20px; /* Space between table and text */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-left: auto; /* Aligns the table to the center of its container */
  margin-right: auto;
}

th, td {
  border: 2px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #007bff;
  color: white;
}
